body{
    background-color: #a3d8f4;
    font-family: Verdana, sans-serif;
}

.gameContainer{
    display: grid;
    justify-content: center;
    gap: 5px;
}

.statusContainer{
    display: flex;
    flex-direction: column;
}

.statusContainer>*{
    padding: 8px;
}

.playerTotals{
    display: flex;
    justify-content: center;
}

.playerTotals>*, .playerTotals>*>*{
    background-color: white;
    margin: 0 5px;
}

.playerTotals div{
    border-radius: 5px;
    width: 100%;
}

.victories{
    text-align: center;
}

.currentPlayerRow{
    visibility: hidden;
    display: flex;
    justify-content: center;
}

.gridContainer{
    display: grid;
    gap: 16px;
    padding: 8px;
    width: 350px;
    height: 350px;
    justify-self: center;
    font-size: 2em;
}

.rows{
    display: grid;
    grid-auto-flow: column;
    gap: 16px;
}

.cells{
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 15px;
    transition: background-color 250ms ease;
    user-select: none;
}

.wrongCell{
    background-color: red;
}

.buttonsContainer{
    display: flex;
    padding: 8px;
}

.buttonsContainer button{
    margin: 0 5px;
    width: 100%;
}